@using Proser.Common
@using Servaind.Intranet.Core
@using Servaind.Intranet.Web.Helpers
@{
    Layout = null;
}

<!DOCTYPE html>

<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en" class="no-js">
<!--<![endif]-->
<!-- BEGIN HEAD -->
<head>
    <meta charset="utf-8" />
    <title>SERVAIND | intranet</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <meta content="" name="description" />
    <meta content="" name="author" />
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css" />
    <link href="/assets/global/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link href="/assets/global/plugins/simple-line-icons/simple-line-icons.min.css" rel="stylesheet" type="text/css" />
    <link href="/assets/global/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="/assets/global/plugins/uniform/css/uniform.default.css" rel="stylesheet" type="text/css" />
    <link href="/assets/global/plugins/bootstrap-switch/css/bootstrap-switch.min.css" rel="stylesheet" type="text/css" />

    @RenderSection("Styles", false)

    <link href="/assets/global/css/components.css" id="style_components" rel="stylesheet" type="text/css" />
    <link href="/assets/global/css/plugins.css" rel="stylesheet" type="text/css" />
    <link href="/assets/global/css/extra.css" rel="stylesheet" type="text/css" />
    <link href="/assets/admin/layout/css/layout.css" rel="stylesheet" type="text/css" />
    <link href="/assets/admin/layout/css/themes/blue.css" rel="stylesheet" type="text/css" id="style_color" />
    <link href="/assets/admin/layout/css/custom.css" rel="stylesheet" type="text/css" />
    
    <link rel="shortcut icon" href="favicon.ico" />
</head>

<body class="page-header-fixed page-quick-sidebar-over-content page-style-square">
    <div class="page-header navbar navbar-fixed-top">
        <div class="page-header-inner">
            <div class="page-logo">
                <a href="/">
                    <img src="/assets/admin/layout/img/logo.png" alt="SERVAIND | Intranet" class="logo-default" />
                </a>
                <div class="menu-toggler sidebar-toggler hide">
                </div>
            </div>
            <a href="javascript:;" class="menu-toggler responsive-toggler" data-toggle="collapse" data-target=".navbar-collapse">
            </a>
            <div class="top-menu">
                <ul class="nav navbar-nav pull-right">
                    <li class="dropdown dropdown-user">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                            <img alt="" class="img-circle" src="/assets/admin/layout/img/avatar.png" />
                            <span class="username username-hide-on-mobile">
                                @ViewBag.Usuario.ToString()
                            </span>
                            <i class="fa fa-angle-down"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-default">
                            <li>
                                <a href="/Usuario/Logout">
                                    <i class="icon-key"></i> Cerrar sesión
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="clearfix">
    </div>
    <div class="page-container">
        <div class="page-sidebar-wrapper">
            <div class="page-sidebar navbar-collapse collapse">
                <ul class="page-sidebar-menu" data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200">
                    <li class="sidebar-toggler-wrapper">
                        <div class="sidebar-toggler">
                        </div>
                    </li>
                    <li class="margin-top-10 start @MenuHelper.IsSelected(MenuItem.None, ViewBag.SelectedMenu)">
                        <a href="http://mail.servaind.com" target="_blank">
                            <i class="icon-envelope"></i>
                            <span class="title">Webmail</span>
                        </a>
                    </li>
                    @if (SecurityHelper.TieneAcceso(SeccionPagina.Control_Acceso))
                    {
                        <li class="@MenuHelper.IsSelected(MenuItem.ControlAcceso, ViewBag.SelectedMenu)">
                            <a href="javascript:;">
                                <i class="icon-clock"></i>
                                <span class="title">Control de accesos</span>
                                <span class="arrow "></span>
                            </a>
                            <ul class="sub-menu">
                                <li>
                                    <a href="Personas/Asistencias">
                                        Asistencias
                                    </a>
                                </li>
                            </ul>
                        </li>
                    }

                    @if (SecurityHelper.TieneAcceso(SeccionPagina.Sistemas))
                    {
                        <li class="@MenuHelper.IsSelected(MenuItem.Sistemas, ViewBag.SelectedMenu)">
                            <a href="javascript:;">
                                <i class="icon-settings"></i>
                                <span class="title">Sistemas</span>
                                <span class="arrow "></span>
                            </a>
                            <ul class="sub-menu">
                                <li>
                                    <a href="/Personas">
                                        Personas
                                    </a>
                                </li>
                                <li>
                                    <a href="/Personas/Permisos">
                                        Permisos
                                    </a>
                                </li>
                                <li>
                                    <a href="/Bases">
                                        Bases de personal
                                    </a>
                                </li>
                                <li>
                                    <a href="/Imputaciones">
                                        Imputaciones
                                    </a>
                                </li>
                            </ul>
                        </li>
                    }


                    <li class="@MenuHelper.IsSelected(MenuItem.General, ViewBag.SelectedMenu)">
                        <a href="javascript:;">
                            <i class="icon-users"></i>
                            <span class="title">General</span>
                            <span class="arrow "></span>
                        </a>
                        <ul class="sub-menu">
                            @if (SecurityHelper.TieneAcceso(SeccionPagina.General_Repositorio))
                            {
                                <li>
                                    <a href="/Repositorio">
                                        Repositorio
                                    </a>
                                </li>
                            }
                        </ul>
                    </li>

                    <li class="@MenuHelper.IsSelected(MenuItem.Administracion, ViewBag.SelectedMenu)">
                        <a href="javascript:;">
                            <i class="icon-book-open"></i>
                            <span class="title">Administración</span>
                            <span class="arrow "></span>
                        </a>
                        <ul class="sub-menu">
                            @if (SecurityHelper.TieneAcceso(SeccionPagina.Administracion_Vehiculos))
                            {
                                <li>
                                    <a href="/Vehiculos">
                                        Vehiculos
                                    </a>
                                </li>
                                <li>
                                    <a href="/Vehiculos/Vencimientos">
                                        Vehiculos - Vencimientos
                                    </a>
                                </li>
                            }
                        </ul>
                    </li>

                    <li class="@MenuHelper.IsSelected(MenuItem.Deposito, ViewBag.SelectedMenu)">
                        <a href="javascript:;">
                            <i class="icon-folder"></i>
                            <span class="title">Depósito</span>
                            <span class="arrow "></span>
                        </a>
                        <ul class="sub-menu">
                            @if (SecurityHelper.TieneAcceso(SeccionPagina.Deposito_Instrumentos))
                            {
                                <li>
                                    <a href="/Instrumentos">
                                        Instrumentos
                                    </a>
                                </li>
                            }
                        </ul>
                    </li>

                    <li class="@MenuHelper.IsSelected(MenuItem.Sgi, ViewBag.SelectedMenu)">
                        <a href="javascript:;">
                            <i class="icon-refresh"></i>
                            <span class="title">SGI</span>
                            <span class="arrow "></span>
                        </a>
                        <ul class="sub-menu">
                            <li>
                                <a href="/Sgi">
                                    Multisitio
                                </a>
                            </li>
                            
                            @if (SecurityHelper.TieneAcceso(SeccionPagina.Oportunidad_Mejora))
                            {
                                <li>
                                    <a href="/Sgi/OportMejora">
                                        Oportunidad de mejora
                                    </a>
                                </li>
                            }

                            <li>
                                <a href="/Sgi/FormsFg005">
                                    Sistema NC - Listado
                                </a>
                            </li>
                            <li>
                                <a href="/Sgi/FormFg005">
                                    Sistema NC - Nueva
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        <div class="page-content-wrapper">
            <div class="page-content">
                @RenderBody()
            </div>
        </div>
    </div>
    <div class="page-footer">
        <div class="page-footer-inner">
            2016 &copy; SERVAIND - versión @VersionControl.GetVersion()
        </div>
        <div class="scroll-to-top">
            <i class="icon-arrow-up"></i>
        </div>
    </div>

    <!--[if lt IE 9]>
    <script src="/assets/global/plugins/respond.min.js"></script>
    <script src="/assets/global/plugins/excanvas.min.js"></script>
    <![endif]-->
    <script src="/assets/global/plugins/jquery.min.js" type="text/javascript"></script>
    <script src="/assets/global/plugins/jquery-migrate.min.js" type="text/javascript"></script>
    <script src="/assets/global/plugins/jquery-ui/jquery-ui.min.js" type="text/javascript"></script>
    <script src="/assets/global/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="/assets/global/plugins/bootstrap-hover-dropdown/bootstrap-hover-dropdown.min.js" type="text/javascript"></script>
    <script src="/assets/global/plugins/jquery-slimscroll/jquery.slimscroll.min.js" type="text/javascript"></script>
    <script src="/assets/global/plugins/jquery.blockui.min.js" type="text/javascript"></script>
    <script src="/assets/global/plugins/jquery.cokie.min.js" type="text/javascript"></script>
    <script src="/assets/global/plugins/uniform/jquery.uniform.min.js" type="text/javascript"></script>
    <script src="/assets/global/plugins/bootstrap-switch/js/bootstrap-switch.min.js" type="text/javascript"></script>
    <script src="/assets/global/plugins/bootbox/bootbox.min.js" type="text/javascript"></script>
    <script type="text/javascript" src="/assets/global/plugins/jquery-validation/js/jquery.validate.min.js"></script>

    @RenderSection("Scripts", false)
    
    <script src="/assets/global/scripts/metronic.js" type="text/javascript"></script>
    <script src="/assets/global/scripts/common.js" type="text/javascript"></script>
    <script src="/assets/admin/layout/scripts/layout.js" type="text/javascript"></script>
    <script src="/assets/admin/pages/scripts/index.js" type="text/javascript"></script>
    
    <script>
        var INVALID_ID = @Constants.InvalidInt;
        var INVALID_PERSONA_ID = @Persona.ID_INVALIDO;

        jQuery(document).ready(function () {
            Metronic.init();
            Layout.init();
            @RenderSection("ScriptsInit", false)
        });
    </script>
</body>
</html>