@using Proser.Common.Extensions
@using Servaind.Intranet.Core
@{
    Layout = "~/Views/_layout.cshtml";

    var responsables = Persona.ListResponsablesNNC();

    var areas = AreaPersonal.List();
}

@section Styles
{
    <link href="/assets/global/plugins/jquery-file-upload/css/jquery.fileupload.css" rel="stylesheet" />
    <link href="/assets/global/plugins/jquery-file-upload/css/jquery.fileupload-ui.css" rel="stylesheet" />
}

@section Scripts
{
    <script src="@Url.Content("~/assets/global/plugins/jquery-file-upload/js/vendor/jquery.ui.widget.js")"></script>
    <script src="@Url.Content("~/assets/global/plugins/jquery-file-upload/js/vendor/tmpl.min.js")"></script>
    <script src="@Url.Content("~/assets/global/plugins/jquery-file-upload/js/jquery.iframe-transport.js")"></script>
    <script src="@Url.Content("~/assets/global/plugins/jquery-file-upload/js/jquery.fileupload.js")"></script>
    <script src="@Url.Content("~/assets/global/plugins/jquery-file-upload/js/jquery.fileupload-process.js")"></script>
    <script src="@Url.Content("~/assets/global/plugins/jquery-file-upload/js/jquery.fileupload-validate.js")"></script>
    <script src="@Url.Content("~/assets/global/plugins/jquery-file-upload/js/jquery.fileupload-ui.js")"></script>
    <script src="@Url.Content("~/assets/admin/pages/scripts/sgi/oportMejora.js")" type="text/javascript"></script>
}

<h3 class="page-title">
    SGI <small>Oportunidad de Mejora</small>
</h3>

<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <i class="fa fa-home"></i>
            <a href="/">Inicio</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <a href="/Sgi">SGI</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <a href="#">Oportunidad de Mejora</a>
        </li>
    </ul>
</div>

<div class="row">
    <div class="col-md-9">
        <form action="#" class="form" id="fileupload" action="/Sgi/OportMejora" method="POST" enctype="multipart/form-data">
            <div class="form-body">
                <div class="row">
                    <h3>Información</h3>
                    <div class="form-group col-md-6">
                        <label for="cbArea">Sector</label>
                        <select class="form-control" id="cbArea" name="cbArea">
                            @{
                                foreach (var a in areas)
                                {
                                    <option value="@a.Id">@a.Nombre</option>
                                }
                            }
                        </select>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="cbResponsable">Responsable</label>
                        <select class="form-control" id="cbResponsable" name="cbResponsable">
                            @{
                                foreach (var r in responsables)
                                {
                                    <option value="@r.Id">@r.ToString()</option>
                                }
                            }
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-12">
                        <label for="txtComentarios">Cambio propuesto (máx. 3000 caracteres)</label>
                        <textarea class="form-control" id="txtComentarios" name="txtComentarios" rows="5"></textarea>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-3">
                        <label>Urgencia</label>
                        <select class="form-control" id="cbUrgencia">
                            @{
                                var urgencias = EnumExt.EnumToList<OportMejoraUrgencia>();
                                foreach (var u in urgencias)
                                {
                                    <option value="@u.ValueField">@u.TextField</option>
                                }
                            }
                        </select>
                    </div>
                </div>
                <div class="row">
                    <h3>Archivos adjuntos</h3>
                    <div class="col-md-12">
                        <div class="row fileupload-buttonbar">
                            <div class="col-lg-12">
                                <span class="btn btn-xs green fileinput-button">
                                    <i class="fa fa-plus"></i>
                                    <span>
                                        Agregar archivo...
                                    </span>
                                    <button type="submit" class="btn blue start" style="display:none" id="btnConfirmSend">
                                        <i class="fa fa-upload"></i>
                                        <span>
                                            Iniciar
                                        </span>
                                    </button>
                                    <input type="file" name="files" id="filesToUpload">
                                </span>
                                <span class="fileupload-process">
                                </span>
                            </div>
                            <div class="col-lg-5 fileupload-progress fade">
                                <div class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100">
                                    <div class="progress-bar progress-bar-success" style="width:0%;">
                                    </div>
                                </div>
                                <div class="progress-extended">
                                    &nbsp;
                                </div>
                            </div>
                        </div>
                        <table role="presentation" class="table table-striped clearfix">
                            <tbody class="files"></tbody>
                        </table>
                        <div class="panel panel-success">
                            <div class="panel-heading">
                                <h3 class="panel-title">Importante</h3>
                            </div>
                            <div class="panel-body">
                                <ul>
                                    <li>
                                        El tamaño del archivo no debe superar los <strong>8 MB</strong>.
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-actions">
                <div class="row">
                    <div class="col-md-offset-2 col-md-9">
                        <button type="button" class="btn default" id="btnCancel">Cancelar</button>
                        &nbsp;
                        <button type="button" class="btn btn-primary" id="btnEnviar">Enviar</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<script id="template-upload" type="text/x-tmpl">
    {% for (var i=0, file; file=o.files[i]; i++) { %}
    <tr class="template-upload fade">
        <td>
            <p class="name">{%=file.name%}</p>
            <strong class="error label label-danger"></strong>
        </td>
        <td>
            <p class="size">Procesando...</p>
            <div class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0">
                <div class="progress-bar progress-bar-success" style="width:0%;"></div>
            </div>
        </td>
        <td>
            {% if (!i && !o.options.autoUpload) { %}
            <button class="btn blue start" style="display:none" disabled>
                <i class="fa fa-upload"></i>
                <span>Iniciar</span>
            </button>
            {% } %}
            {% if (!i) { %}
            <button class="btn btn-xs red cancel">
                <i class="fa fa-trash"></i>
                <span>Cancelar</span>
            </button>
            {% } %}
        </td>
    </tr>
    {% } %}
</script>

<script id="template-download" type="text/x-tmpl">
    {% for (var i=0, file; file=o.files[i]; i++) { %}
    <tr class="template-download fade">
        <td>
            <span class="preview">
                {% if (file.thumbnailUrl) { %}
                <a href="{%=file.url%}" title="{%=file.name%}" download="{%=file.name%}" data-gallery><img src="{%=file.thumbnailUrl%}"></a>
                {% } %}
            </span>
        </td>
        <td>
            <p class="name">
                {% if (file.url) { %}
                <a href="{%=file.url%}" title="{%=file.name%}" download="{%=file.name%}" {%=file.thumbnailUrl?'data-gallery':''%}>{%=file.name%}</a>
                {% } else { %}
                <span>{%=file.name%}</span>
                {% } %}
            </p>
            {% if (file.error) { %}
            <div><span class="label label-danger">Error</span> {%=file.error%}</div>
            {% } %}
        </td>
        <td>
            <span class="size">{%=o.formatFileSize(file.size)%}</span>
        </td>
        <td>
            {% if (file.deleteUrl) { %}
            <button class="btn red delete btn-sm" data-type="{%=file.deleteType%}" data-url="{%=file.deleteUrl%}" {% if (file.deletewithcredentials) { %} data-xhr-fields='{"withCredentials":true}' {% } %}>
                <i class="fa fa-trash-o"></i>
                <span>Eliminar</span>
            </button>
            <input type="checkbox" name="delete" value="1" class="toggle">
            {% } else { %}
            <button class="btn green cancel btn-sm">
                <i class="fa fa-check"></i>
                <span>Completado</span>
            </button>
            {% } %}
        </td>
    </tr>
    {% } %}
</script>